
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: indianred;
    margin: 0;
    padding: 0;
}
h1 {
   text-decoration: underline;
   text-align: center;
   color: black;
   margin-top: 20px;
}
p {
    text-align: center;
    font-size: 18px;
    color: aliceblue;
    margin-bottom: 30px;
}
ul {
    list-style-type: circle;
    padding-left: 40px;
}
li {
    font-size: 18px;
    color: antiquewhite;
    margin-bottom: 10px;
}