body {
    font-family: sans-serif;
    height: 100vh;
    background-image: linear-gradient(180deg, rgb(56, 9, 47));
}
input[type="text"]{
    padding: 10px, 15px;
    outline: none;
    border: 2px solid rgb(0, 128, 0);
    border-radius: 5px;
    color: rgb(47, 213, 255);
    background-image: linear-gradient(180deg, rgba(0, 14, 28, 0), rgb(4, 12, 3));
}