.box {
    width: 400px;
    height: 400px;
    background-color: transparent;
    border: 10px solid rgb(34, 177, 76);
    
}
body {
    display: flex;
    flex-direction: column;
}
conteiner {
    display: flex;
    justify-content: space-between;
}
.box-1 {
  border:10px solid red ;  
}